@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 50px;
}

*:focus {
	outline: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

li, a, button, h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 500;
}

header {
	white-space: nowrap;
}

#Head-Content {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 280px;
	text-align: center;

}

#Logo h1 {
	position: relative;
	top: 0px;
	font-size: 2em;
	font-family: 'Bungee', cursive;
	color: #CB2C52;
}

#Search input {
	position: relative;
	left: 10px;
	width: 240px;
	border: none;
	border-radius: 5px;
	border: 2px solid grey;
	padding: 5px;
	padding-left: 10px;
	font-size: 14px;
	background-color: #303030;
	font-family: 'Open Sans', sans-serif;
	color: grey;
}

#Search button {
	position: relative;
	left: -25px;
	font-size: 14px;
	color: grey;
}


#Button button {
	position: relative;
	top: 20px;
	font-size: 2em;
}

#Login {
	position: relative;
	top: 40px;
	border-top: 1px solid #303030;
}

#Login button {
	position: relative;
	top: 20px;
	font-size: 1.5em;
	color: white;
	background-color: #CB2C52;
	padding: 10px;
	padding-left: 75px;
	padding-right: 75px;
	border-radius: 5px;
	text-decoration: underline;
}

#Login button:hover {
	background-color: #D04163;
}

#Main-Nav {
	position: relative;
	top: 60px;
	text-align: left;
}

#Main-Nav h1 {
	position: relative;
	left: 80px;
	color: #CB2C52;
}

#Main-Nav a {
	position: relative;
	left: 80px;
	font-size: 1.25em;

}

#Main-Nav i {
	position: relative;
	left: -60px;
}

#Main-Nav a:hover i {
	color: #D04163;
}

#Signup {
	position: relative;
	top: 80px;
	border-top: 1px solid #303030;
}

#Signup a {
	position: relative;
	top: 30px;
	font-size: 1.5em;
	color: white;
	background-color: #CB2C52;
	padding: 10px;
	padding-left: 75px;
	padding-right: 75px;
	border-radius: 5px;
	text-decoration: underline;
}

#Signup a:hover {
	background-color: #D04163;
}