@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

body {
	margin: 0px;
	padding: 0px;
	background-color: white;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 50px;
}

*:focus {
	outline: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

li, a, button, h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 500;
}

header {
	white-space: nowrap;
}

#Head-Content {
	width: 100%;
	height: 100px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	border-bottom: 1px solid #CB2C52;
}

#Logo button {
	position: absolute;
	top: 30px;
	left: 0px;
	font-size: 1.875em;
}

#Logo h1 {
	position: relative;
	top: -2px;
	left: 0px;
	font-family: 'Bungee', cursive;
	font-size: 2.625em;
	color: #CB2C52;
	height: 100px;
	width: 300px;
}

#Search input {
	width: 400px;
	height: 38px;
	border-radius: 5px;
	border: none;
	padding-left: 30px;
	font-size: 1.5em;
}

#Search button {
	position: relative;
	top: 1px;
	left: -39px;
	color: grey;
	font-size: 1.5em;
}

#Login a {
	position: relative;
	top: -20px;
	left: -5px;
	font-size: 1.5em;
	background-color: #CC2C52;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 50px;
}

#Login a:hover {
	background-color: #D04163;
}

#Login button {
	position: relative;
	top: 14px;
	left: -85px;
	font-size: 1.5em;
}

#Navigation {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 300px;
	height: 100%;
	background-color: black;
	border-right: 1px solid #CB2C52;
	text-align: left;
}

#Navigation h1 {
	position: relative;
	top: 50px;
	left: 20px;
	color: #CB2C52;
}

#Navigation li {
	position: relative;
	top: 50px;
	left: -40px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	width: 300px;
}

#Navigation a {
	position: relative;
	top: 0px;
	left: 80px;
	display: inline-flex;
	margin: 10px;
}

#Navigation a:hover  i {
	color: #CB2C52;
}

#Navigation i {
	position: relative;
	left: -40px;
}

#Navigation button {
	position: relative;
	top: 75px;
	left: 40px;
	font-size: 1.5em;
	background-color: #CC2C52;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 50px;
}

#Navigation button:hover {
	background-color: #D04163;
}