@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

:root {
  --white-color: white;
  --black-color: black;
  --other-color: #CB2C52;
  --hover-color: #D04163;
  --text-size-0: 1vmin;
  --text-size-1: 2vmin;
  --text-size-2: 3vmin;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 50px;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
}
*:focus {
	outline: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

li, a, button, h1 {
	font-family: 'Open Sans', sans-serif;
}

header {
	position: fixed;
}

body {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	grid-template-rows: 1fr;
	grid-gap: 0px 0px;
	background-color: var(--black-color);
	overflow-x: hidden;
}
#Head-Content { 
	grid-area: 1 / 1 / 2 / 2;
}
#Logo h1 {
	position: relative;
	margin: 1vh;
	font-size: var(--text-size-2);
	font-family: 'Bungee', cursive;
	color: #CB2C52;
	text-align: center;
}

#Search {
	text-align: center;
}
#Search input {
	width: 90%;
	border: none;
	border-radius: 5px;
	border: 2px solid grey;
	padding: 5px;
	font-size: var(--text-size-1);
	background-color: #303030;
	color: grey;
}

#Button {
	position: relative;
	top: 1vh;
	text-align: center;
}
#Button button {
	color: var(--white-color);
	font-size: var(--text-size-2);
}

#Main-Nav {
	position: relative;
	top: 1vh;
	text-align: center;
}
#Main-Nav h1 {
	color: var(--other-color);
	font-size: var(--text-size-2);
	font-weight: lighter;
	text-align: center;
}
#Main-Nav a {
	color: var(--white-color);
	font-size: var(--text-size-1);
	position: relative;
	left: -1vmin;
	display: block;
}
#Main-Nav i {
	font-size: var(--text-size-1);
	color: white;
	float: left;
	position: relative;
	left: 2vmin;
}
#Main-Nav a:hover i {
	color: var(--hover-color);
}

#Load-More {
	text-align: center;
}
#Load-More button {
	position: relative;
	top: 2vh;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--other-color);
	color: var(--white-color);
	font-size: var(--text-size-2);
}
#Load-More button:hover {
	background-color: var(--hover-color);
}
#Body-Content { grid-area: 1 / 2 / 2 / 3; }
#Categories { grid-area: 1 / 2 / 2 / 3; }
#Sub-Categories {
	position: relative;
	top: 15vh;
}
#Sub-Categories a {
	font-size: var(--text-size-1);
	color: white;
	background: #CB2C52;
	padding: 5px;
	border-radius: 5px;
}
#Sub-Categories a:hover {
	background: #D04163;
}